@import "src/variables";

#navMenu {
    position: relative;
}
.avatar-container {
    background-size: contain;
    height: 54px;
    width: 54px;
    align-self: center;
    margin-right: 10px;
    background-color: $app-text-invert-color;
    border: 2px solid $app-text-invert-color;
    border-radius: 50%;
    cursor: pointer;
    .avatar {
        position: relative;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}

[mat-menu-item] {
    display: flex;
    height: 30px;
    line-height: revert;
    align-items: center;
    i {
        font-size: 18px;
        padding-right: 5px;
    }
}

::ng-deep {
    // Remove after adding more items to menu
    .mat-menu-panel {
        min-height: 46px !important;
    }
    .profile-menu {
        position: absolute;
        overflow: revert !important;
        top: 7px;
        right: 5px;
        min-width: revert !important;
        &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid white;
            right: 10px;
            bottom: 100%;
        }
    }
    .menu-backdrop {
        background-color: #0005;
    }
}
