<div id="navMenu">
    <div *ngIf="logged" class="avatar-container" [matMenuTriggerFor]="menu">
        <img class="avatar" src="{{profileImage || './assets/images/avatar.png'}}" alt="user.png">
    </div>
    <mat-menu #menu="matMenu" class="profile-menu" xPosition="before" [hasBackdrop]="true" backdropClass="menu-backdrop">
        <!--    <button mat-menu-item><i class="icofont icofont-user-alt-4"></i> Profile</button>-->
        <button mat-menu-item [routerLink]="['settings', 'profile']"><i class="icofont icofont-options"></i> Edit Profile</button>
        <button mat-menu-item [routerLink]="['settings', 'password']"><i class="icofont icofont-ui-password"></i> Change Password</button>
        <button mat-menu-item (click)="logout()"><i class="icofont icofont-power"></i> Logout</button>
    </mat-menu>
</div>
