<table class="mat-elevation-z8 w-100" role="table">
    <thead>
        <tr>
            <th class="slot">#</th>
            <th class="time">Time</th>
            <th class="module" *ngFor="let day of days">{{day}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of tableRows; let i = index">
            <td class="slot">{{row.slot.number}}</td>
            <td class="time">
                <div class="time-from">{{getTime(row.slot.startAt)}}</div>
                <div class="time-to">{{getTime(row.slot.endAt)}}</div>
            </td>
            <td *ngFor="let item of row.data | keyvalue:onCompare">
                <ng-container *ngIf="item.value">
                    <div class="module">
                        <span class="module-code">{{item.value.module.code}}</span>
                        -
                        <span class="module-name">{{item.value.module.name}}</span>
                    </div>
                    <div class="lecturer">{{item.value.lecturer.name}}</div>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>
