<div id="updateTimeTable">
    <div class="content-header">
        <h1 class="fw-bold text-center mb-0">Update Timetable</h1>
        <div class="mb-3 d-flex justify-content-end">
            <button class="btn btn-sm btn-light" routerLink="/timetable">Back</button>
            <button class="btn btn-sm btn-primary ms-3" (click)="save()">Save</button>
        </div>
    </div>
    <div id="updateTimetableForm" class="content">
        <table class="table">
            <thead class="position-sticky top-0">
            <tr class="">
                <th class="slot"><h3 class="text-center">#</h3></th>
                <th class="time"><h3 class="text-center">TIME</h3></th>
                <th class="day">
                    <h3 class="text-center mb-0">SATURDAY</h3>
                    <div class="text-center">Module / Lecturer</div>
                </th>
                <th class="day">
                    <h3 class="text-center mb-0">SUNDAY</h3>
                    <div class="text-center">Module / Lecturer</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let slot of slots">
                <td class="slot text-center py-3">
                    <div class="h-100 d-flex flex-column">
                        <div>{{slot.number}}</div>
                    </div>
                </td>
                <td class="time text-center py-3">
                    <div class="h-100 d-flex flex-column">
                        <div class="time-from">{{getTime(slot.startAt)}}</div>
                        -
                        <div class="time-to">{{getTime(slot.endAt)}}</div>
                    </div>
                </td>
                <td *ngFor="let entry of getDays(slot)" class="day py-3">
                    <span class="fw-bold mt-1 mb-1">Module</span>
                    <ng-select class="app-ng-select" [class.mb-2]="entry.module?.grouped" [items]="modules" bindLabel="name" [(ngModel)]="entry.module"></ng-select>
                    <div class="row">
                        <div *ngIf="entry.module?.grouped" class="l-col">
                            <div class="l">L1</div>
                            <div class="l">L2</div>
                        </div>
                        <div class="col">
                            <div [class.mt-3]="entry.module?.grouped">
                                <span class="fw-bold mb-1">Lecturer</span>
                                <ng-select class="app-ng-select mb-2" [items]="lecturers" bindLabel="name" [(ngModel)]="entry.lecturer"></ng-select>
                                <div class="mb-2">
                                    <span class="fw-bold mb-1">Recurring Meeting URL</span>
                                    <input type="search" class="form-control form-control-sm" [(ngModel)]="entry.meetingsUrl">
                                </div>
                                <div class="mb-2">
                                    <span class="fw-bold mb-1">Recordings URL</span>
                                    <input type="search" class="form-control form-control-sm" [(ngModel)]="entry.recordingsUrl">
                                </div>
                                <div class="mb-2">
                                    <span class="fw-bold mb-1">Documents URL</span>
                                    <input type="search" class="form-control form-control-sm" [(ngModel)]="entry.documentsUrl">
                                </div>
                            </div>
                            <div *ngIf="entry.module?.grouped" class="mt-3">
                                <span class="fw-bold mb-1">Lecturer</span>
                                <ng-select class="app-ng-select mb-2" [items]="lecturers" bindLabel="name" [(ngModel)]="entry.lecturerL2"></ng-select>
                                <div class="mb-2">
                                    <span class="fw-bold mb-1">Recurring Meeting URL</span>
                                    <input type="search" class="form-control form-control-sm" [(ngModel)]="entry.meetingsUrlL2">
                                </div>
                                <div class="mb-2">
                                    <span class="fw-bold mb-1">Recordings URL</span>
                                    <input type="search" class="form-control form-control-sm" [(ngModel)]="entry.recordingsUrlL2">
                                </div>
                                <div class="mb-2">
                                    <span class="fw-bold mb-1">Documents URL</span>
                                    <input type="search" class="form-control form-control-sm" [(ngModel)]="entry.documentsUrlL2">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
