@import "/src/variables";
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
:host {
    display: block;
    height: 100%;
}
#updateTimeTable {
    height: 100%;
    width: calc(100vw - #{$app-sidenav} - #{$app-content-padding} * 2);
}
#updateTimetableForm {
    height: 100%;
    position: relative;
    overflow-y: scroll;
}
table {
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    tr, td {
        height: 100%;
    }
    thead {
        height: 50px;
        z-index: 1;
        background-color: $app-body-color;
        //-webkit-transform: translateZ(0);
    }
    .slot {
        width: 50px;
    }
    .time {
        width: 100px;
    }
    .day {
        padding: 0 15px;
        width: calc((100% - 300px - 50px )/ 2);
    }
}
::ng-deep #updateTimeTable {
    .ng-select {
        width: 100%;
    }
    .ng-select-container {
        width: 100%;
        font-size: 0.875rem;
        border-radius: 0.2rem;
    }
}
.ng-select.custom {
    width: 100%;
}
.ng-select.custom .ng-select-container  {
    width: 100%;
}
.l-col {
    width: 30px;
}
.l {
    color: darkorange;
    font-weight: bold;
    &:first-child {
        margin-top: 16px;
        margin-bottom: 171px;
    }
}

@include media-breakpoint-down(lg) {
    #updateTimeTable {
        width: calc(100vw - #{$app-content-padding} * 2) !important;
        table {
            width: calc(200vw - (20px + 75px + #{$app-content-padding}) * 2) !important;
        }
        td, th {
            background-color: $app-body-color;
            &.slot, &.time {
                top: 60px;
            }
        }
        .slot {
            width: 20px;
            padding: 5px;
            position: sticky;
            left: 0;
            z-index: 100000;
        }
        .time {
            width: 75px;
            padding: 5px;
            position: sticky;
            left: 20px;
            z-index: 100000;
        }
        .day {
            width: calc(100vw - 20px - 75px - #{$app-content-padding} * 2);
            padding-right: 25px;
            &:last-child {
                padding-left: 35px;
                padding-right: 0;
            }
        }
    }
}

@include media-breakpoint-down(md) {

}
