<div id="editProfile" class="content d-flex flex-column justify-content-center align-items-center">
    <div class="body">
        <h1 class="text-center">Change Password</h1>
        <div class="container">
            <wx-form class="form" #form [formData]="formData" (onSubmit)="save($event)" [size]="app.mdDown ? 'small' : ''"></wx-form>
            <button type="button" class="btn btn-primary d-block mt-3 mx-auto" [class.btn-sm]="app.mdDown"  (click)="form.submit()">Change</button>
        </div>
    </div>
</div>
