@import "src/variables";
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
:host {
    display: block;
    height: 100%;
}
.heading {
    position: relative;
    h1 {
        margin-bottom: 10px;
    }
}
.timetable {
    height: calc(100% - 70px);
    overflow: auto;
}
.courses {
    width: 250px;
}
table {
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
    min-width: 750px;
    thead {
        z-index: 1;
        background-color: #fafafa;
    }
    th, td {
        padding: 15px;
    }
    .slot {
        text-align: center;
        width: 50px;
    }
    .time {
        width: 100px;
        text-align: center;
        .time-from, .time-to {
            white-space: nowrap;
        }
    }
    .module {
        .module-code {
            color: darkgreen;
        }
        .module-name {

        }
    }
    .modules {
        .links > div {
            width: 120px;
        }
    }
    .l {
        color: darkorange;
        font-weight: bold;
    }
}

@include media-breakpoint-down(md) {
    table {
        th, td {
            padding: 5px;
            background-color: $app-body-color;
        }
        .slot {
            width: 20px;
            position: sticky;
            left: 0;
        }
        .time {
            width: 75px;
            position: sticky;
            left: 20px;
        }
        .modules {
            width: calc(100vw - 20px - 75px - #{$app-content-padding} * 2);
            &:last-child {
                padding-left: 35px;
            }
        }
    }
}
