<div id="polls" class="content">
    <div class="text-center content-header mb-0">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1 class="fw-bold">Polls</h1>
            </div>
            <div class="col-md-4">
                <div class="button-bar d-flex justify-content-end">
                    <button class="btn d-none d-md-inline-block btn-option btn-app-primary"
                            (click)="add()"
                            data-key="NumpadAdd"><i class='icofont icofont-ui-add'></i></button>
                </div>
            </div>
        </div>

    </div>
    <div class="content card-container mt-3">
        <ng-container *ngIf="polls?.length">
            <app-poll-card *ngFor="let poll of polls"
                           routerLink="/poll/{{poll.code}}"
                           height="250px"
                           [title]="poll.name"
                           [subTitle]="poll.description"
                           [theme]="poll.options.themeClass"
                           [data]="getPollData(poll)"
                           [icon]="'icofont icofont-mail-box'">
            </app-poll-card>
        </ng-container>
    </div>
</div>
