<div id="manageUser" class="content">
    <data-table
        #dataTable
        [loading]="loading"
        [data]="data"
        (afterInit)="afterDataTableInit($event)"
        (filter)="onFilter($event)"
        (sort)="onSort($event)"
        (pageChange)="changePage($event)"
        (option)="add()"
        (optionA)="view($event)"
        (optionB)="edit($event)"
        (optionC)="changeStatus($event)"
        (optionD)="changeRole($event)"
        (optionE)="delete($event)"></data-table>
</div>
