@import "src/variables";
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@keyframes move {
    0%   { left: -250px; opacity: 1; }
    100% { left:0; opacity: 0; }
}
@keyframes fade {
    0%   { width: -250px; opacity: 1; }
    100% { left:0; opacity: 0; }
}

:host {
    display: block;
    height: calc(100% - #{$app-header});
}
#sidenav {
    position: fixed;
    top: $app-header;
    left: 0;
    height: calc(100% - #{$app-header});
    width: $app-sidenav;
    z-index: 1000000000;
}
.sidenav {
    position: relative;
    width: $app-sidenav;
    height: 100%;
    background-color: $app-secondary-color;
}
.menu {
    padding-top: 10px;
}
.menu-item {
    * {
        color: $app-text-invert-color;
    }
    .menu-item-text {
        display: block;
        text-decoration: none;
        &:hover {
            background-color: $app-hover-color;
            cursor: pointer;
            * {
                color: $app-hover-text-color;
            }
        }
        &.active {
            background-color: $app-primary-color;
            * {
                color: $app-text-invert-color;
            }
        }
        padding: 10px 20px;
        .icon {
            font-size: 25px;
        }
        .title {
            font-size: 20px;
            margin-left: 10px;
        }
    }
    .sub-menu .menu-item-text {
        padding-left: 40px;
        .icon {
            font-size: 20px;
        }
        .title {
            font-size: 17px;
        }
    }
}

@include media-breakpoint-down(lg) {
    #sidenav {
        background-color: #0007;
        width: 0;
        opacity: 0;
        transition: opacity 500ms;
        .sidenav {
            opacity: 0;
            left: -250px;
            transition: left 500ms, opacity 500ms;
        }
    }
    #sidenav.opened {
        width: 100%;
        opacity: 1;
        .sidenav {
            opacity: 1;
            left: 0;
        }
    }
}
