@import "src/variables";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

:host {
    //display: block;
    //height: 100%;
}
#sidenav {
    position: fixed;
    top: $app-header;
    left: 0;
    height: calc(100vh - #{$app-header});
    width: $app-sidenav;
    background-color: $app-secondary-color;
    z-index: 1000000000;
}
.menu {
    padding-top: 10px;
}
.menu-item {
    * {
        color: $app-text-invert-color;
    }
    .menu-item-text {
        &:hover {
            background-color: $app-hover-color;
            cursor: pointer;
            * {
                color: $app-hover-text-color;
            }
        }
        &.active {
            background-color: $app-primary-color;
            * {
                color: $app-text-invert-color;
            }
        }
        padding: 10px 20px;
        .icon {
            font-size: 25px;
        }
        .title {
            font-size: 20px;
            margin-left: 10px;
        }
    }
    .sub-menu .menu-item-text {
        padding-left: 40px;
        .icon {
            font-size: 20px;
        }
        .title {
            font-size: 17px;
        }
    }
}

@include media-breakpoint-down(lg) {
    #sidenav {
        left: calc(#{$app-sidenav} * -1);
    }
    #sidenav.open {
        left: 0;
    }
}
