@import "src/variables";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.table-container {
    overflow-y: auto;
}
.data-table {
    border-collapse: collapse;
    min-width: 840px;
    .search {
        width: 250px;
    }
    thead {
        position: sticky;
        top: 0;
        height: calc(#{$app-table-row-height} * 2);
        background-color: $app-primary-color;
        color: $app-text-invert-color;
        z-index: 10;
        * {
            border: none;
        }
    }
    tbody {
        border-top-color: $app-primary-color;
    }
    th {
        cursor: pointer;
        i {
            display: inline-block;
            width: 14px;
            height: 15.2px;
            .mat-badge-content {
                top: -7px;
                right: -7px;
                height: 15px;
                width: 15px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: transparent !important;
                font-size: 10px;
            }
        }
    }
    td, th {
        vertical-align: middle;
        padding: 0 10px;
        &:first-child {
            padding-left: 20px;
        }
        &:last-child {
            padding-right: 20px;
        }
    }
    .data-table-options {
        text-align: right;
        .btn-option:not(:last-child) {
            margin-right: 5px;
        }
    }
}
.loading-backdrop {
    background-color: transparent !important;
    top: calc(#{$app-table-row-height} * 2) !important;
    height: calc(100% - #{$app-table-row-height} * 2);
}
@include media-breakpoint-up(md) {
    .data-table {
        tbody {
            tr.selected {
                background-color: $app-active-color;
                color: $app-active-text-color;
            }
            tr:hover {
                background-color: $app-hover-color;
                color: $app-hover-text-color;
                cursor: pointer;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    table {
        min-width: initial !important;
    }
    thead {
        height: calc(#{$app-table-row-height}) !important;
        position: relative;
    }
    tbody {
        tr {
            &.selected {
                background-color: transparent !important;
                color: black !important;
            }
        }
        td:not([data-column-no-name]):before {
            content: attr(data-column-name);
            text-align: left;
            font-weight: bold;
        }
        td:first-child {
            background-color: $app-active-color;
            color: $app-active-text-color;
        }
        td[data-column-no-name] > * {
            grid-column: span 2;
            display: flex;
            justify-content: space-evenly;
        }
        td {
            display: grid;
            grid-template-columns: 50% 50%;
            text-align: right !important;
            word-break: break-word;
            padding-left: 20px !important;
            padding-right: 20px !important;
            width: 100% !important;
            align-items: center;
            justify-items: stretch;
        }
    }
}
