$app-header: 70px;
$app-sidenav: 250px;
$app-content-padding: 15px;
$app-content-header: 80px;
$app-table-row-height: 50px;
$app-pagination-padding: 15px;
$app-pagination-item: 40px;

$app-body-color: #fafafa;
$app-primary-color: #000373;
$app-primary-text-color: #fff;
$app-secondary-color: #0300bb;
$app-text-color: #000;
$app-text-invert-color: #fff;
$app-backdrop-color: #000d;
$app-active-color: $app-secondary-color;
$app-active-darker-color: $app-primary-color;
$app-active-text-color: #fff;
$app-hover-color: #446bf9;
$app-hover-text-color: #fff;
$app-border-color: #adb5bd;
$app-badge-color: red;
